.campo-pesquisa {
  display: flex;
  justify-content: center;
  padding-bottom: 18px;
  padding-inline: 20px;
}

.input-pesquisa {
  display: flex;
  border: none;
  outline: none;
  width: 100%;
  padding: 9px 14px 10px 10px;
  border-radius: 8px;
}

.botao_carrinho_menu {
  border: none;
  background: none;
}

.bolinha {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  border: solid 1px var(--branco-ff);
  font-family: var(--fonte-segundaria);
  color: var(--branco-ff);
  background: var(--azul-gradiente);
  transition: all 0.3s ease-in-out;
}

.botao_hamburguer {
  position: relative;
}

.botao_hamburguer span {
  font-weight: bold;
}

.bolinha-carrinho {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  top: -5px;
  right: -13px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 1px var(--branco-ff);
  font-family: var(--fonte-segundaria);
  background: var(--azul-gradiente);
  color: var(--branco-ff);
}

.item_menu_hamburguer:hover span {
  background: var(--azul-gradiente);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.botao_carrinho_menu {
  position: relative;
}