/* PESQUISA */
.img-pesquisado {
  font-size: 1rem;
  width: 58px;
  border: solid 4px var(--branco-ff);
  border-radius: 4px;
  background: var(--branco-f5);
}

.titulo_pesquisa {
  margin-top: 4px;
  margin-left: 14px;
  margin-bottom: 10px;
}

.produtos-grid {
  margin-inline: 14px;
}

.produto-card {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.infos_pesquisa h3 {
  font-weight: 400;
  font-size: 1rem;
  background: var(--azul-gradiente);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 3px;
}

.infos_pesquisa p {
  font-weight: 300;
  font-size: 1rem;
  color: var(--branco-f5);
}

.destaques-home {
  padding-bottom: 1px;
}

@media screen and (min-width: 425px) {
  .img-pesquisado,
  .infos_pesquisa h3,
  .infos_pesquisa p,
  .titulo_pesquisa {
    font-size: 1.2rem;
  }

  .img-pesquisado {
    width: 62px;
  }

  .produtos-grid {
    margin-inline: 18px;
  }
}

@media screen and (min-width: 768px) {
  .img-pesquisado,
  .infos_pesquisa h3,
  .infos_pesquisa p,
  .titulo_pesquisa {
    font-size: 1.4rem;
  }

  .img-pesquisado {
    width: 68px;
  }

  .produtos-grid {
    margin-inline: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .destaques-home {
    margin-inline: 36px;
  }
}

@media screen and (min-width: 1920px) {
  .img-pesquisado,
  .infos_pesquisa h3,
  .infos_pesquisa p,
  .titulo_pesquisa {
    font-size: 1.6rem;
  }

  .img-pesquisado {
    width: 82px;
  } 
}