/* BLOCO PLANOS */
.bloco_planos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 72px;
  padding-inline: 6vw;
}

.titulo_planos {
  font-size: 1.3rem;
  background: var(--azul-gradiente);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}

.texto_planos {
  margin-bottom: 3px;
  font-size: .9rem;
  font-family: var(--fonte-segundaria);
}

.texto_plano_2 {
  margin-bottom: 32px;
}

.mensal_semestral_anual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 472px;
  padding: 0px 14px;
  border-radius: 12px;
  background-color: var(--cinza);
  transition: 0.3s ease;
}

.nome_plano {
  height: 36px;
  font-size: 1.2rem;
  background: var(--azul-gradiente);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease;
}

.valor_plano {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-family: var(--fonte-segundaria);
  transition: 0.3s ease;
}

.descricao_plano {
  margin-bottom: 32px;
  font-size: .9rem;
  font-weight: 300;
  font-family: var(--fonte-segundaria);
  transition: 0.3s ease;
}

.beneficios_plano {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.texto_beneficios {
  font-size: .9rem;
  font-weight: 500;
  font-family: var(--fonte-segundaria);
  transition: 0.3s ease;
}

.certo {
  font-size: 1rem;
  margin-right: 3px;
  background: var(--azul-gradiente);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease;
}

.link_matriculese {
  border-radius: 12px;
  padding-block: 10px;
  margin-inline: 4vw;
  font-size: 1.2rem;
  color: var(--cinza);
  background: var(--azul-gradiente);
  transition: 0.3s ease;
}

/* BLOCO PLANOS HOVER */
.mensal_semestral_anual:hover {
  height: 480px;
  background: var(--azul-gradiente);
  transition: 0.3s ease;
}

.mensal_semestral_anual:hover .nome_plano {
  font-weight: 500;
  font-size: 1.3rem;
  background: var(--cinza);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mensal_semestral_anual:hover .valor_plano {
  font-weight: 500;
  color: var(--cinza);
}

.mensal_semestral_anual:hover .descricao_plano {
  font-size: .9rem;
  font-weight: 600;
  color: var(--cinza);
  font-family: var(--fonte-segundaria);
}

.mensal_semestral_anual:hover .certo {
  font-size: 1.1rem;
  background: var(--cinza);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mensal_semestral_anual:hover .texto_beneficios {
  font-weight: 600;
  color: var(--cinza);
}

.mensal_semestral_anual:hover .link_matriculese {
  color: var(--cinza);
  background: var(--branco-f5);
  transition: 0.6s ease;
}

@media screen and (min-width: 375px) {

  .titulo_planos,
  .valor_plano {
    font-size: 1.4rem;
  }

  .texto_planos,
  .descricao_plano,
  .texto_beneficios {
    font-size: 1rem;
  }

  .nome_plano,
  .link_matriculese {
    font-size: 1.3rem;
  }

  .certo {
    font-size: 1.1rem;
  }

  .mensal_semestral_anual:hover .nome_plano {
    font-size: 1.4rem;
  }

  .mensal_semestral_anual:hover .descricao_plano {
    font-size: 1rem;
  }

  .mensal_semestral_anual:hover .certo {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 425px) {
  .div_planos {
    padding-inline: 6vw;
  }

  .titulo_planos,
  .valor_plano {
    font-size: 1.5rem;
  }

  .texto_planos,
  .descricao_plano,
  .texto_beneficios {
    font-size: 1.1rem;
  }

  .nome_plano,
  .link_matriculese {
    font-size: 1.4rem;
  }

  .certo {
    font-size: 1.2rem;
  }

  .mensal_semestral_anual:hover .nome_plano {
    font-size: 1.5rem;
  }

  .mensal_semestral_anual:hover .descricao_plano {
    font-size: 1.1rem;
  }

  .mensal_semestral_anual:hover .certo {
    font-size: 1.3rem;
  }

  .mensal_semestral_anual {
    height: 496px;
  }

  .mensal_semestral_anual:hover {
    height: 512px;
  }

  .mensal_semestral_anual:hover {
    padding: 0px 13px;
  }
}

@media screen and (min-width: 480px) {

  .titulo_planos,
  .valor_plano {
    font-size: 1.6rem;
  }

  .texto_planos,
  .descricao_plano,
  .texto_beneficios {
    font-size: 1.2rem;
  }

  .nome_plano,
  .link_matriculese {
    font-size: 1.5rem;
  }

  .certo {
    font-size: 1.3rem;
  }

  .mensal_semestral_anual:hover .nome_plano {
    font-size: 1.6rem;
  }

  .mensal_semestral_anual:hover .descricao_plano {
    font-size: 1.2rem;
  }

  .mensal_semestral_anual:hover .certo {
    font-size: 1.4rem;
  }

  .mensal_semestral_anual {
    height: 532px;
  }

  .mensal_semestral_anual:hover {
    height: 548px;
  }

  .mensal_semestral_anual {
    padding: 0px 16px;
  }
}

@media screen and (min-width: 768px) {
  .titulo_planos {
    font-size: 1.7rem;
  }

  .texto_planos {
    font-size: 1.3rem;
  }

  .mensal_semestral_anual {
    height: 600px;
  }

  .mensal_semestral_anual:hover {
    height: 612px;
  }

  .div_planos {
    padding-inline: 0;
  }

  .titulo_texto_planos {
    padding-inline: 8vw;
  }
}

@media screen and (min-width: 1024px) {
  .titulo_planos {
    font-size: 1.8rem;
  }

  .texto_planos {
    font-size: 1.4rem;
  }

  .planos_1024 {
    display: none;
  }

  .carrossel_planos {
    padding-inline: 4vw;
  }

  .descricao_plano {
    padding: 0px 6px;
  }

  .mensal_semestral_anual {
    height: 608px;
  }

  .mensal_semestral_anual:hover {
    height: 620px;
  }
}

@media screen and (min-width: 1920px) {

  .titulo_planos,
  .valor_plano {
    font-size: 2.1rem;
  }

  .texto_planos,
  .descricao_plano,
  .texto_beneficios {
    font-size: 1.7rem;
  }

  .nome_plano,
  .link_matriculese {
    font-size: 2rem;
  }

  .nome_plano {
    height: 42px;
  }

  .certo {
    font-size: 1.8rem;
  }

  .mensal_semestral_anual:hover .nome_plano {
    font-size: 2.1rem;
  }

  .mensal_semestral_anual:hover .descricao_plano {
    margin: 0px 6px;
    font-size: 1.7rem;
  }

  .mensal_semestral_anual:hover .certo {
    font-size: 2.1rem;
  }

  .carrossel_planos {
    padding-inline: 4vw;
  }

  .descricao_plano {
    margin: 0px 8px 10px 8px;
  }

  .mensal_semestral_anual {
    height: 734px;
  }

  .mensal_semestral_anual:hover {
    height: 752px;
  }
}