/* BLOCO PROFESSORES */
.titulos_professores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 32px;
  padding-inline: 6vw;
  gap: 16px;
}

.titulo_professores {
  font-size: 1.2rem;
  background: var(--azul-gradiente);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.texto_professores {
  font-size: .8rem;
  font-family: var(--fonte-segundaria);
}

.swiper_professores {
  display: flex;
  justify-content: center;
}

.div_info_professores {
  display: flex;
  flex-direction: column;
  width: min-content;
  border-radius: 12px;
  padding: 20px 12px 20px 12px;
  background-color: var(--cinza);
}

.div_img_professores {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.img_professores {
  object-fit: cover;
  border-radius: 12px;
}

.titulo_texto_professores {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 22px;
}

.nome_professor {
  font-size: 1.2rem;
  font-weight: 500;
  background: var(--azul-gradiente);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sobre_professor {
  font-size: .8rem;
  font-family: var(--fonte-segundaria);
}

@media screen and (min-width: 425px) {

  .titulo_professores,
  .nome_professor {
    font-size: 1.4rem;
  }

  .texto_professores,
  .sobre_professor {
    font-size: 1rem;
  }

  .div_info_professores {
    width: 65%;
    padding: 26px 18px;
  }

  .titulo_texto_professores {
    padding-inline: 5px;
  }
}

@media screen and (min-width: 768px) {

  .titulo_professores,
  .nome_professor {
    font-size: 1.6rem;
  }

  .texto_professores,
  .sobre_professor {
    font-size: 1.2rem;
  }

  .div_info_professores {
    flex-direction: row;
    width: max-content;
    margin-inline: 6vw;
  }

  .titulo_texto_professores {
    justify-content: center;
    margin: 0;
    padding-inline: 0;
    padding-left: 22px;
  }
}

@media screen and (min-width: 1024px) {

  .titulo_professores,
  .nome_professor {
    font-size: 1.8rem;
  }

  .texto_professores,
  .sobre_professor {
    font-size: 1.4rem;
  }

  .div_info_professores {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0;
    gap: 18px;
    padding: 22px;
    height: 508px;
    width: 302px;
  }

  .div_img_professores {
    height: min-content;
    width: min-content;
  }

  .titulo_texto_professores {
    padding: 0;
  }

  .carrossel_professores {
    margin-inline: 1vw;
  }
}

@media screen and (min-width: 1920px) {

  .titulo_professores,
  .nome_professor {
    font-size: 2rem;
  }

  .texto_professores,
  .sobre_professor {
    font-size: 1.6rem;
  }

  .div_info_professores {
    height: 572px;
  }
}