/* BLOCO SOBRE NOS */
.bloco_mais_sobre_nos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 36px;
}

.div_texto_sobre_nos {
  display: flex;
  flex-direction: column;
  padding-inline: 6vw;
  gap: 16px;
}

.titulo_sobre_nos {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--azul-neon);
}

.paragrafo_sobre_nos {
  font-size: .9rem;
  font-family: var(--fonte-segundaria);
}

.bloco_mais_sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  gap: 16px;
  padding: 32px 16px;
  border-radius: 12px;
  margin-inline: 6vw;
  background-color: var(--cinza);
  box-shadow: 8px 8px 12px var(--preto), 4px 4px 16px var(--preto);
}

.img_icon_mais_sobre {
  max-width: min-content;
}

.titulo_bloco_sobre {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--azul-neon);
}

.descricao_mais_sobre {
  font-family: var(--fonte-segundaria);
}

.blocos_mais_sobre {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

@media screen and (min-width: 375px) {
  .titulo_sobre_nos {
    font-size: 1.4rem;
  }

  .paragrafo_sobre_nos {
    font-size: 1rem;
  }

  .titulo_bloco_sobre {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 425px) {
  .titulo_sobre_nos {
    font-size: 1.5rem;
  }

  .paragrafo_sobre_nos,
  .descricao_mais_sobre {
    font-size: 1.1rem;
  }

  .titulo_bloco_sobre {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 480px) {
  .titulo_sobre_nos {
    font-size: 1.6rem;
  }

  .paragrafo_sobre_nos,
  .descricao_mais_sobre {
    font-size: 1.2rem;
  }

  .titulo_bloco_sobre {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .titulo_sobre_nos {
    font-size: 1.7rem;
  }

  .paragrafo_sobre_nos,
  .descricao_mais_sobre {
    font-size: 1.3rem;
  }

  .titulo_bloco_sobre {
    font-size: 1.6rem;
  }
}