.produto-detalhes {
  padding-top: 162px;
}

.produto-detalhes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-inline: 26px;
}

.produto-img_detalhes {
  width: 200px;
  height: auto;
  border-radius: 6px;
  border: solid 6px var(--branco-ff);
  background-color: var(--branco-ff);
}

.btn-voltar_detalhes {
  position: absolute;
  border: none;
  background: none;
  left: 16px;
  color: var(--azul-neon);
}

.nome_detalhe {
  margin-top: 12px;
  font-size: 1.2rem;
  line-height: 1;
  background: linear-gradient(45deg, white 0%, white 30%, #47E0FF 70%, #0099cc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.detalhe_preco_descricao {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: .9rem;
  margin-top: 14px;
  margin-bottom: 14px;
  gap: 8px;
}

.botao_add_detalhe {
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: .8rem;
  border-radius: 6px;
  padding-block: 6px;
  margin-top: 6px;
  width: 282px;
  color: var(--cinza);
  background: var(--branco-f5);
  overflow: hidden;
  z-index: 0;
}

.botao_add_detalhe::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--azul-gradiente);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.botao_add_detalhe:hover::before {
  opacity: 1;
}

.flex_1280 {
  display: none;
}

@media screen and (min-width: 425px) {
  .produto-detalhes {
    padding-top: 172px;
  }

  .produto-detalhes {
    padding-inline: 36px;
  }

  .produto-img_detalhes {
    width: 220px;
  }

  .btn-voltar_detalhes {
    left: 26px;
  }

  .nome_detalhe {
    font-size: 1.4rem;
  }

  .detalhe_preco_descricao {
    font-size: 1.1rem;
  }

  .botao_add_detalhe {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) {
  .produto-detalhes {
    padding-top: 182px;
  }

  .produto-detalhes {
    padding-inline: 128px;
  }

  .produto-img_detalhes {
    width: 242px;
  }

  .btn-voltar_detalhes {
    top: 202px;
    left: 128px;
  }

  .nome_detalhe {
    font-size: 1.6rem;
  }

  .detalhe_preco_descricao {
    font-size: 1.3rem;
  }

  .botao_add_detalhe {
    font-size: 1.3rem;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .produto-detalhes {
    padding-top: 192px;
  }

  .produto-detalhes {
    padding-inline: 82px;
  }

  .produto-img_detalhes {
    width: 262px;
  }

  .btn-voltar_detalhes {
    top: 192px;
    left: 82px;
  }

  .produto_detalhes_1280 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .produto-descricao {
    text-align: end;
    width: 420px;
  }

  .bloco_nome_preco_add {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    width: 420px;
  }

  .nome_detalhe {
    font-size: 1.8rem;
  }

  .produto-descricao,
  .produto-preco {
    font-size: 1.2rem;
  }

  .botao_add_detalhe {
    font-size: 1.5rem;
    padding-bottom: 8px;
  }

  .nome_detalhe {
    text-align: start;
  }

  .none_1280 {
    display: none;
  }

  .flex_1280 {
    display: flex;
  }
}

@media screen and (min-width: 1920px) {
  .produto-detalhes {
    padding-top: 220px;
  }

  .produto-img_detalhes {
    width: 286px;
    border: solid 14px var(--branco-ff);
  }

  .btn-voltar_detalhes {
    top: 232px;
    left: 220px;
  }

  .nome_detalhe {
    font-size: 2rem;
  }

  .produto-descricao,
  .produto-preco {
    font-size: 1.4rem;
  }

  .botao_add_detalhe {
    font-size: 1.7rem;
    padding: 10px 24px 12px 24px;
    width: max-content;
  }
}