.resultado_busca {
  word-break: break-word;
}

.bloco_todos_produtos {
  padding-top: 200px;
}

.filtro_preco {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtro .rc-slider {
  width: 250px;
}

/* Estiliza a trilha (barra) do slider */
.rc-slider-track {
  background: var(--azul-gradiente);
  height: 4px !important;
}

/* Estiliza os "handles" (botões deslizantes) */
.rc-slider-handle {
  border: 2px solid #ff00dd !important;
  background-color: #00ff15 !important;
  width: 16px !important;
  height: 16px !important;
  margin-top: -6px !important;
  box-shadow: 0px 0px 5px #00ff37a1;
  transition: 0.2s;
}

/* Adiciona efeito ao passar o mouse sobre os "handles" */
.rc-slider-handle:hover {
  transform: scale(1.2);
  border-color: #eeff00 !important;
}

.rc-slider-rail {
  background-color: #ff0000 !important;
  height: 4px !important;
}

.filtro {
  margin-bottom: 15px;
}

.img_produto {
  width: 100px;
  background-color: var(--branco-ff);
}